<div class="animal-info">
    <p>{{animal.id}}</p>
    <p>{{animal.name | animalDataDisplay}}</p>
    <p>{{animal.gender | animalDataDisplay}}</p>
    <p>{{animal.species | animalDataDisplay}}</p>
    <p>{{animal.age}}</p>
    <p>{{animal.status | animalDataDisplay}}</p>

    <button (click)="changeVisibility()">Usuń</button>

    <app-modal *ngIf="toDelete" [title]="'Czy na pewno chcesz usunąć zwierzę ' + animal.name + ', ' + animal.species + ' z bazy danych?'" >
        <div >
            <button (click)="changeVisibility()">Nie</button>
            <button (click)="confirm()">Tak</button>
          </div>
        
    </app-modal>
</div>
