<div>
    <p>You are currently logged as an ADMINISTRATOR. You have an access to add, edit and delete auctions! If this is not your account, we strongly recommend that you log out immediately for security reasons.</p>
    <div>
        <button mat-raised-button color="accent" (click)="editAuction()"> Edit </button>
        <button mat-raised-button color="warn"(click)="changeVisibility()"> Delete </button>
        <div *ngIf="message"> {{message}}</div>
    </div>

    <app-modal *ngIf="showModal" [text]="'Are you shure that you want to delete auction: '+ auctionId + '?'" >
    <div>
      <button mat-raised-button color="primary" (click)="changeVisibility()">No</button>
      <button mat-raised-button color="warn" (click)="deleteAuction()">Yes</button>
    </div>
  </app-modal>


</div>