<app-add-product  [products]="products"></app-add-product>

<p>Lista zakupów:</p>
<ul>
    <li *ngFor="let product of products">
        <span [ngClass]="{'bought': product.bought}">{{product.name}}</span>
        <input type="checkbox" [(ngModel)]="product.bought">
        <button *ngIf="!showModal" (click)="openModal(product)">Usuń</button>
       

    </li>
</ul>

<app-modal *ngIf="showModal" [itemToDelete]="itemToDelete" (confirm)="deleteItem($event)" ></app-modal>

<button (click)="removeBought()">Usuń kupione</button>
