<div>
    <a [appDisabled]="false" href="/">Strona główna</a>
    <a [appDisabled]="!currentUser" href="add">Dodaj zwierzę</a>

    <ng-container *ngIf="!currentUser">
        <input type="text" placeholder="Użytkownik" [(ngModel)]="username">
        <input type="text" placeholder="Hasło" [(ngModel)]="password">
        <button (click)="login()">Zaloguj</button>
    </ng-container>
    <ng-container *ngIf="currentUser">
        <span>Logged as: {{currentUser}}</span>
        <button (click)="logout()">Wyloguj</button>
    </ng-container>
    
</div>