<nav>
    <ul>
        <li><button (click)="goToHome()">Home</button></li>
        <li><button (click)="goToSearch()">Search</button></li>
        <li><button (click)="goToAccount()">My account</button></li>
        <li *ngIf="!user"><button (click)="goToLogin()">Log in</button></li>
        <li *ngIf="user">
            <div class="user-info">
                <p>Welcome, {{ user.firstName }} {{user.lastName}}</p>
                <button (click)="logOut()">Log out</button>
              </div>
        </li>
    </ul>
</nav>
