<div>
    <h1>Edit your data</h1>
    <form [formGroup]="editForm" (ngSubmit)="submit()">
        <div>
            <label for="email">E-mail</label>
            <input id="email" type="text" formControlName="email">
            <div *ngIf="editForm.controls['email'].touched && editForm.controls['email'].hasError('required')">Required</div>
            <div *ngIf="editForm.controls['email'].touched && editForm.controls['email'].hasError('email')">Enter valid e-mail address</div>
        </div>
        <div>
            <label for="password">Password</label>
            <input id="password" type="text" formControlName="password" appCapitalLetter appNumber>
            <div *ngIf="editForm.controls['password'].touched && editForm.controls['password'].hasError('required')" >Required</div>
            <div *ngIf="editForm.controls['password'].touched && editForm.controls['password'].hasError('minlength')">Password should be at least 5 characters long</div>
            <div *ngIf="editForm.controls['password'].touched && editForm.controls['password'].hasError('containsNumber')">Password should contain at least one number</div>
            <div *ngIf="editForm.controls['password'].touched && editForm.controls['password'].hasError('hasCapitalLetter')">Password should contain at least one capital letter</div>
        </div>
        <div>
            <label for="firstName">Firstname</label>
            <input id="firstName" type="text" formControlName="firstName">
            <div *ngIf="editForm.controls['firstName'].touched && editForm.controls['firstName'].hasError('required')">Required</div>
            <div *ngIf="editForm.controls['firstName'].touched && editForm.controls['firstName'].hasError('minlength')">First name should be at least 3 characters long</div>
        </div>
        <div>
            <label for="lastName">Lastname</label>
            <input id="lastName" type="text" formControlName="lastName">
            <div *ngIf="editForm.controls['lastName'].touched && editForm.controls['lastName'].hasError('required')">Required</div>
            <div *ngIf="editForm.controls['lastName'].touched && editForm.controls['lastName'].hasError('minlength')">Last name should be at least 3 characters long</div>
        </div>
        <button type="submit" [disabled]="!editForm.valid">Save</button>
        <div *ngIf="error"> {{error}}</div>
    </form>
</div>