.picture{
    width: 100%;
    height: auto;
    object-fit: cover;

    @media (max-width: 768px) {
        width: 50%;
        margin: auto;
      }
}

.container{
    margin-bottom: 0.5rem;
}

div.content{
    display: grid;
    grid-template-columns: 1fr 8fr;

    @media (max-width: 1024px) {
        grid-template-columns: 1fr 5fr;
      }

    @media (max-width: 768px) {
        grid-template-columns: 1fr;
      }
}

.info{
 display: flex;
 justify-content: space-between;
 align-content: center;

 div.text{
    align-self: center;
    margin-left: 1.5rem;
 }

 button{
    align-self: center;
 }

 @media (max-width: 768px) {
    flex-direction: column;
  }
}