<div class="menu">
    <button mat-raised-button color="primary" (click)="navigateToDetails()">Details</button>
    <button mat-raised-button color="primary" (click)="navigateToEdit()">Edit your data</button>
    <button mat-raised-button color="primary" (click)="navigateToAuctions()">Your auctions</button>
    <ng-container *ngIf="user && user.userType === 'ADMIN' ">
        <h1>Admin Options</h1>
        <button mat-raised-button color="warn" (click)="navigateToUserManagemenet()">Users managament</button>
    </ng-container>
  
</div>
