
h1{
    text-align: center;
}

.photo-field{
    display: flex;
    flex-direction: row;
    

    button{
        margin-top: 0.5rem;
    }

}


mat-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 1.5rem;

    button{
        margin-bottom: 0.5rem;
    }
}

.buttons{
    display: flex;
    justify-content: center;
    gap: 1.5em;

}

.error{
    font-weight:500;
    color:red;
}