<div>
    <h2>{{user.firstName}} {{user.lastName}}</h2>
    <p>Id: {{user.id}}</p>
    <p>E-mail: {{user.email}}</p>
    <p>Password: {{user.password}}</p>
    <p>Type: {{user.userType}}</p>
    <ng-container >
      <button mat-raised-button [disabled]="user.userType === 'ADMIN'" color="warn" (click)="changeVisibility()"> Remove user</button>
    </ng-container>
    <p>{{message}}</p>
</div>

<app-modal *ngIf="showModal" [text]="'Are you shure that you want to delete user: '+ user.firstName + ' ' + user.lastName + '?'" >
    <div>
      <button mat-raised-button color="primary" (click)="changeVisibility()">No</button>
      <button mat-raised-button color="warn" (click)="removeUser(user.id)">Yes</button>
    </div>
</app-modal>