<div>
    <div>
        <h1>Sorting</h1>
        <mat-form-field>
            <mat-label> Order by</mat-label>
            <mat-select [(ngModel)]="sortValue" (ngModelChange)="sortAuctions()">
                <mat-option>None</mat-option>
                <mat-option value="artistName">Artist name</mat-option>
                <mat-option value="albumName">Album name</mat-option>
                <mat-option value="price">Price</mat-option>
                <mat-option value="dateCreated">Date</mat-option>
            </mat-select>
        </mat-form-field>

        <mat-button-toggle-group [(ngModel)]="sortOrder" (ngModelChange)="sortAuctions()">
            <mat-button-toggle value="asc">ASC</mat-button-toggle>
            <mat-button-toggle value="desc">DESC</mat-button-toggle>
        </mat-button-toggle-group>
    </div>
    <div>
        <h1>Filters</h1>
        <form>
            <mat-form-field floatLabel="auto">
                <mat-label >Artist name</mat-label>
                <input matInput placeholder="...">
            </mat-form-field>

            <mat-form-field>
                <mat-label> Music category</mat-label>
                <mat-select>
                    <mat-option>None</mat-option>
                    <mat-option value="test">Test</mat-option>
                </mat-select>
            </mat-form-field>

            <mat-button-toggle-group>
                <mat-button-toggle>Any</mat-button-toggle>
                <mat-button-toggle value="VINYL">Vinyl</mat-button-toggle>
                <mat-button-toggle value="CD">CD</mat-button-toggle>
            </mat-button-toggle-group>

            <mat-checkbox>
                Show finished auctions
            </mat-checkbox>
               
            <mat-slider>
                <label>Price range</label>
                <input matSliderStartThumb>
                <input matSliderEndThumb>
            </mat-slider>

            
            <div>
                <button mat-raised-button color="primary" type="submit">Filter</button>
            </div>
            
        </form>
    </div>
</div>