<div>
    <div>
        <h1>Sorting</h1>
        <form>
            <select>
                <option>Artist name: ascending</option>
                <option>Artist name: descending</option>
                <option>Album name: ascending</option>
                <option>Album name: descending</option>
                <option>Price: ascending</option>
                <option>Price: descending</option>
                <option>Date: oldest</option>
                <option>Date: newest</option>
            </select>
        <button type="submit">Reorder</button>
        </form>
    </div>
    <div>
        <h1>Filters</h1>
        <form>
            <div>
                <label>Artist name: </label>
                <input type="text">
            </div>  
            <div>
                <label>Music category</label>
                <select>
                    <option>test</option>
                </select>
            </div>
                
            <div>
                <p>Music device</p>
                <label>
                    <input type="radio" name="musicFormat" value="vinyl">
                    VINYL
                  </label>
                  <label>
                    <input type="radio" name="musicFormat" value="cd">
                    CD
                  </label>
                  <label>
                    <input type="radio" name="musicFormat" value="any">
                    ANY
                  </label>
            </div>
               
            <div>
                <p>Price range</p>
                <input type="range">
            </div>

            <div>
                <label>Show finished auctions</label>
                <input type="checkbox">
            </div>

            <button type="submit">Filter</button>
        </form>
    </div>
</div>