<h1>Dodawanie zwierzęcia</h1>
<form >
    <label for="name">Imie:</label>
    <input id="name" type="text" name="Imie" [(ngModel)]="selectedName">

    <label for="species">Gatunek:</label>
    <input id="species" type="text" name="Gatunek" [(ngModel)]="selectedSpecies">

    <label for="age">Wiek:</label>
    <input id="age" type="number" name="Wiek" [(ngModel)]="selectedAge">
    
    <label for="gender">Płeć:</label>
    <select id="gender" [(ngModel)]="selectedGender" name="Plec">
      <option *ngFor="let genderOption of animalGenderOptions" [ngValue]="genderOption">
        {{ genderOption }}
      </option>
    </select>

    
  <label for="status">Status:</label>
  <select id="status" [(ngModel)]="selectedStatus" name="Status">
    <option *ngFor="let statusOption of animalStatusOptions" [ngValue]="statusOption">
      {{ statusOption }}
    </option>
  </select>

    <button type="button" (click)="showData()">Dodaj</button>
</form>
