<app-add-product  [products]="products"></app-add-product>
<button (click)="removeBought()">Usuń kupione</button>

<p>Lista zakupów:</p>
<ul>
    <li *ngFor="let product of products">
        <span [ngClass]="{'bought': product.bought}">{{product.name | produktInfo:product.quantity }}</span>
        <input type="checkbox" [(ngModel)]="product.bought">
        <button (click)="toggleModal(product)" >Usuń</button>
        <app-product-quantity [product]="product" [products]="products" />
    </li>
</ul>

<ng-container *ngIf="showModal">
    <app-modal [title]="modalContent()">
        <button (click)="toggleModal(itemToDelete)">Nie</button>
        <button (click)="deleteItem()">Tak</button>
    </app-modal>
</ng-container>

<!-- <div *ngIf="products.length === 0">
Loading...
</div> -->




