<form #form="ngForm" (ngSubmit)="save(form)">
    <input type="text" #imiePole="ngModel" name="imie" [(ngModel)]="imie" placeholder="imie" required minlength="3" appFirstBigLetter appOnlyText>
     <ng-container *ngIf="imiePole.touched">
        <div *ngIf="imiePole?.hasError('required')" >Pole jest wymagane</div>
        <div *ngIf="imiePole?.hasError('minlength')" >Pole musi mieć przynajmniej 3 znaki</div>
        <div *ngIf="imiePole?.hasError('onlyLetters')" >W polu mogą znajdować się wyłącznie litery</div>
        <div *ngIf="imiePole?.hasError('firstBigLetter')" >Pierwsza litera musi być duża</div>
      </ng-container>
  
    <input type="text" #nazwiskoPole="ngModel" name="nazwisko"[(ngModel)]="nazwisko" placeholder="nazwisko" required minlength="3" appFirstBigLetter appOnlyText>
    <ng-container *ngIf="nazwiskoPole.touched">
        <div *ngIf="nazwiskoPole?.hasError('required')" >Pole jest wymagane</div>
        <div *ngIf="nazwiskoPole?.hasError('minlength')" >Pole musi mieć przynajmniej 3 znaki</div>
        <div *ngIf="nazwiskoPole?.hasError('onlyLetters')" >W polu mogą znajdować się wyłącznie litery</div>
        <div *ngIf="nazwiskoPole?.hasError('firstBigLetter')" >Pierwsza litera musi być duża</div>
      </ng-container>

    <input type="number" #wiekPole="ngModel" name="wiek" [(ngModel)]="wiek" placeholder="wiek" required min="1" max="99">
    <ng-container *ngIf="wiekPole.touched">
        <div *ngIf="wiekPole?.hasError('required')" >Pole jest wymagane</div>
        <div *ngIf="wiekPole?.hasError('min')" >Pole musi mieć wartość przynajmniej 1</div>
        <div *ngIf="wiekPole?.hasError('max')" >Pole może mieć wartość co najwyżej 99</div>
      </ng-container>

    <input type="text" #kodPole="ngModel"name="kodPocztowy" [(ngModel)]="kodPocztowy" placeholder="kodPocztowy" required appZipCode>
    <ng-container *ngIf="kodPole.touched">
        <div *ngIf="kodPole?.hasError('required')" >Pole jest wymagane</div>
        <div *ngIf="kodPole?.hasError('zipCodeFormat')">Wprowadź poprawny format</div>
      </ng-container>

    <button type="submit" [disabled]="form.invalid" > Dodaj </button>
</form> 