/* You can add global styles to this file, and also import other style files */

@import './colors.scss';
@import './animations';
@import './screens';

html, body {
    height: 100%;
    margin: 0;
  }

body{
    display: flex;
    flex-direction: column;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
