<app-add-product  [products]="products"></app-add-product>
<button (click)="removeBought()">Usuń kupione</button>

<p>Lista zakupów:</p>
<ul>
    <li *ngFor="let product of products">
        <span [ngClass]="{'bought': product.bought}">{{product.name | produktInfo:product.quantity }}</span>
        <input type="checkbox" [(ngModel)]="product.bought">
        <button (click)="toggleModal()" >Usuń</button>
        <app-product-quantity [product]="product" />

        <ng-container *ngIf="showModal">
            <app-modal [title]="modalContent(product)">
                <button (click)="toggleModal()">Nie</button>
                <button (click)="deleteItem(product)">Tak</button>
            </app-modal>
        </ng-container>

    </li>
</ul>

<div *ngIf="products.length === 0">
Loading...
</div>




