mat-card{
    width: 30%;
    @media (max-width: 768px) {
       width: 100%;
      }
}

.wrapper{
    display: flex;
    justify-content: center;
}

.error{
    color:red;
}


.full{
    width: 100%;
}