<div>
    <mat-card>    
        <mat-card-header>
            <mat-card-title>{{auction | auctionTitle}}</mat-card-title>
            <mat-card-subtitle>Created: {{auction.dateCreated | date}}</mat-card-subtitle>
        </mat-card-header>
        
        
    </mat-card>
   

    <div class="content">
        <mat-card class="top">
            <img [src]="auction.photos[0]" class="left">
            <div class="right">
                <div class="price">
                    <h1>Price: ${{auction.price}}</h1>
                    <button mat-raised-button color="primary" [disabled]="auction.isBought" (click)="changeVisibility()"> Buy </button>
                    <p *ngIf="auction.isBought">This auction has ended</p>
                    <h1>{{this.message}}</h1>
                </div>
                <div class="info">
                    <h2>Basic informations:</h2>
                    <p>Artist: {{auction.artistName}}</p>
                    <p>Album: {{auction.albumName}}</p>
                    <p>Category: {{auction.category}}</p>
                    <p>Type: {{auction.type}}</p>
                </div>
                
            </div>    
        </mat-card>
        
        <mat-card class="description">
            <mat-card-header>
                <mat-card-title>Description</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <p>{{auction.description}}</p>
            </mat-card-content>   
        </mat-card>

        <mat-card class="description">
            <mat-card-header>
                    <mat-card-title>Photos</mat-card-title>
                </mat-card-header>
                <mat-card-content>

                
            <div class="gallery">
                
                <div *ngFor="let photo of auction.photos" class="photo">
                    <img [src]="photo">
                </div>
            </div>
        </mat-card-content>
        </mat-card>
    </div>
    <app-modal *ngIf="showModal" [text]="'Are you shure that you want to buy this auction for $ '+ auction.price + '?'" >
        <div>
          <button mat-raised-button color="warn" (click)="changeVisibility()">No</button>
          <button mat-raised-button color="primary" (click)="buyAuction()">Yes</button>
        </div>
      </app-modal>
</div>