<div>
    <h1>{{auction | auctionTitle}}</h1>
    <p>Created: {{auction.dateCreated | date}}</p>

    <div class="content">
        <section class="top">
            <img [src]="auction.photos[0]" class="left">
            <div class="right">
                <div class="info">
                    <p>Artist: {{auction.artistName}}</p>
                    <p>Album: {{auction.albumName}}</p>
                    <p>Category: {{auction.categoryId}}</p>
                    <p>Type: {{auction.type}}</p>
                </div>
                <div class="price">
                    <p>Price: ${{auction.price}}</p>
                    <button> Buy </button>
                </div>
            </div>    
        </section>
        
        <section class="description">
            <p>{{auction.description}}</p>
            <div *ngFor="let photo of auction.photos" class="photos">
                <img [src]="photo">
            </div>
        </section>
    </div>
</div>