button.disabled{
    color: gray;
    background-color: red;
    pointer-events: none;
    text-decoration: none; 
    pointer-events: none;
  }

ul{
  margin-bottom: 5px;
  background-color: #65451F;
  color: #EAC696;
  padding: 0.5rem;

}