<app-navbar></app-navbar>
<h1>Zwierzęta w zoo:</h1>
<div *ngFor="let animal of animals">
    <!-- <ul>
        <li>
            <p>{{animal.name}}</p>
            <p>{{animal.species}}</p>
            <button (click)="showDetails(animal.id)">Szczegóły</button>
        </li>
    </ul> -->

    <app-animal-details [animal]="animal" [animals]="animals"  (deletionConfirmed)="handleDeletionConfirmation($event)" />
</div>

<app-popup *ngIf="showSuccessModal" [text]="'Usuwanie zakończone sukcesem!'">
</app-popup>